/* Structure */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #003C21;
}

#content {
    background-color:#C7F2CF;
    width: 90%;
    margin: auto;
    padding:1%;
    border-radius: 10px;
}


/* Repository Navigation */
#repository-nav a {
    text-decoration: none;
    background:#DC1235;
    color:#003C21;
    border:solid 1px #023106;
}

#repository-nav a:hover {
    color:rgb(12, 204, 12);
    background-color:#732530;
}

/* Assignment Navigation */
#assignment-nav ol {
    list-style-type: none;
}

#assignment-nav li {
    background-color:#003C21;
    margin:auto;
    width:400px;
    padding:10px;
    margin:20px;
}

#assignment-nav li:hover {
    color:rgb(12, 204, 12);
    background-color:#732530;
}

#assignment-nav a {
    padding:10px;
    font-size:larger;
    text-align:center;
    text-decoration: none;
    display:block;
    color:#DC1235;
}

/* Images */
.assignment-images {
    display:block;
    margin:auto;
    max-width:100%;
    width:300px;
    height:150px;
}

/* Typography */
#title {
    color: #254C3C;
    text-align: center;
}

#name {
    color: #732530;
    padding-left:0;
    font-size: larger;
}

#description {
    color: #257334;
}

#assignments-header {
    color: #732530;
    text-align: center;
}

.assignment-description {
    color: #C7F2CF; 
}

/* Columns */
    .columns {
        display:flex;

    }

/* Smaller devices */
@media only screen and (max-width: 760px) {
    #content {
        width: 90%;
    }

    /* Repository Navigation */
    #repository-nav {
        text-align:center;
    }

    /* Assignment Navigation */
    #assignment-nav li {
        margin:5%;
    }

    /* Columns */
    .columns {
        display:block;
    }
}


