/* Structure */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #003C21;
}

#content {
    background-color: #C7F2CF;
    width: 90%;
    margin: auto;
    padding:1%;
    border-radius: 10px;
}

/* Navigation */
#repository-nav a {
    text-decoration: none;
    color:#003C21;
}

#assignment-nav ol {
    list-style-type: none;
}

#assignment-nav li {
    background-color:#023106;
    margin:auto;
    width:400px;
    padding:10px;
    margin-bottom:15px;
}

#assignment-nav a {
    padding:10px;
    text-decoration: none;
    display:block;
    color:#DC1235;
}

#assignment-nav a:hover {
    color:white;
}

/* Images */
.assignment-images {
    width:300px;
    height:150px;
    margin:auto;
}

/* Typography */
#title {
    color: #254C3C;
    text-align: center;
}

#name {
    color: #732530;
    text-align: center;
    font-size: larger;
}

#description {
    color: #257334;
}

#assignments-header {
    color: #732530;
    text-align: center;
}

    


/* Larger devices */
@media only screen and (min-width: 760px) {
    #content {
        width: 70%;
    }

    /* Columns */
    .columns {
        display:flex;
    }

    /* Assignment Navigation */
    #assignment-nav li {
        flex:1;
    }
}


